.snakemake
.ipynb_checkpoints
.DS_Store
__pycache__
outputs
inputs/images
inputs/metadata/biochem
inputs/metadata/metadata
inputs/metadata/metadata.parquet
inputs/profiles
inputs/annotations/invitrodb
.RData
.RHistory
.tab